USE [master]
GO
/****** Object:  Database [Ultrasound]    Script Date: 09/06/2026 19:14:11 ******/
CREATE DATABASE [Ultrasound]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ultrasound', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ultrasound.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ultrasound_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ultrasound_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ultrasound].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ultrasound]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Id] [int] NOT NULL,
	[Ultrasonido] [bit] NOT NULL,
	[CajaCarton] [bit] NOT NULL,
	[UnaMano] [bit] NOT NULL,
	[DosManos] [bit] NOT NULL,
	[PalmaHorizontal] [bit] NOT NULL,
	[PalmaVertical] [bit] NOT NULL,
	[ManosFrente] [bit] NOT NULL,
	[ManosLaterales] [bit] NOT NULL,
	[CodigoConfiguracion] [varchar](50) NULL,
	[CodigoCondicion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluaciones]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[NumeroPruebas] [int] NULL,
	[Mean_COPX] [float] NULL,
	[Mean_COPY] [float] NULL,
	[LongitudTrayectoria] [float] NULL,
	[AreaRectangulo] [float] NULL,
	[RMS] [float] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[ConfiguracionId] [int] NULL,
	[PerdidasDesequilibrioVel] [int] NULL,
	[PerdidasDesequilibrioVel_X] [int] NULL,
	[PerdidasDesequilibrioVel_Y] [int] NULL,
	[DuracionMinimaEnDesequilibrio] [float] NULL,
	[DuracionMediaDesequilibrio] [float] NULL,
	[DuracionMaximaDesequilibrio] [float] NULL,
	[DuracionTotalDesequilibrio] [float] NULL,
	[DuracionMinimaEnDesequilibrio_X] [float] NULL,
	[DuracionMediaDesequilibrio_X] [float] NULL,
	[DuracionMaximaDesequilibrio_X] [float] NULL,
	[DuracionTotalDesequilibrio_X] [float] NULL,
	[DuracionMinimaEnDesequilibrio_Y] [float] NULL,
	[DuracionMediaDesequilibrio_Y] [float] NULL,
	[DuracionMaximaDesequilibrio_Y] [float] NULL,
	[DuracionTotalDesequilibrio_Y] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturasBalanceBoard]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturasBalanceBoard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[NumeroPruebas] [int] NULL,
	[TopLeft] [float] NOT NULL,
	[TopRight] [float] NOT NULL,
	[BottomLeft] [float] NOT NULL,
	[BottomRight] [float] NOT NULL,
	[COP_X] [float] NULL,
	[COP_Y] [float] NULL,
	[Total] [float] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[TimeStampSegundos] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturasConFiltro]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturasConFiltro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[NumeroPruebas] [int] NULL,
	[TopLeft] [float] NULL,
	[TopRight] [float] NULL,
	[BottomLeft] [float] NULL,
	[BottomRight] [float] NULL,
	[COP_X] [float] NULL,
	[COP_Y] [float] NULL,
	[Total] [float] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[TimeStampSegundos] [float] NULL,
	[DistanciaRadial] [float] NULL,
	[Desequilibrio] [bit] NULL,
	[DistanciaRadial_X] [float] NULL,
	[Desequilibrio_X] [bit] NULL,
	[DistanciaRadial_Y] [float] NULL,
	[Desequilibrio_Y] [bit] NULL,
	[Desplazamiento] [float] NULL,
	[Desplazamiento_X] [float] NULL,
	[Desplazamiento_Y] [float] NULL,
	[Velocidad] [float] NULL,
	[Velocidad_X] [float] NULL,
	[Velocidad_Y] [float] NULL,
	[DesequilibrioVel] [bit] NULL,
	[DesequilibrioVel_X] [bit] NULL,
	[DesequilibrioVel_Y] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturasConMediaMovil]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturasConMediaMovil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[NumeroPruebas] [int] NULL,
	[TopLeft] [float] NULL,
	[TopRight] [float] NULL,
	[BottomLeft] [float] NULL,
	[BottomRight] [float] NULL,
	[COP_X] [float] NULL,
	[COP_Y] [float] NULL,
	[Total] [float] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[TimeStampSegundos] [float] NULL,
	[DistanciaRadial] [float] NULL,
	[Desequilibrio] [bit] NULL,
	[DistanciaRadial_X] [float] NULL,
	[Desequilibrio_X] [bit] NULL,
	[DistanciaRadial_Y] [float] NULL,
	[Desequilibrio_Y] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturasInterpoladas]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturasInterpoladas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[NumeroPruebas] [int] NULL,
	[TopLeft] [float] NULL,
	[TopRight] [float] NULL,
	[BottomLeft] [float] NULL,
	[BottomRight] [float] NULL,
	[COP_X] [float] NULL,
	[COP_Y] [float] NULL,
	[Total] [float] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[TimeStampSegundos] [float] NULL,
	[DistanciaRadial] [float] NULL,
	[Desequilibrio] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 09/06/2026 19:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Edad] [int] NULL,
	[Genero] [nvarchar](10) NULL,
	[Altura] [float] NULL,
	[Peso] [float] NULL,
	[NumeroPruebas] [int] NULL,
	[TimeStamp] [datetime] NOT NULL,
	[TipoEfecto] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[ConfiguracionId] [int] NULL,
	[UsuarioActivo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [PerdidasDesequilibrioVel]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [PerdidasDesequilibrioVel_X]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [PerdidasDesequilibrioVel_Y]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMinimaEnDesequilibrio]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMediaDesequilibrio]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMaximaDesequilibrio]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionTotalDesequilibrio]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMinimaEnDesequilibrio_X]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMediaDesequilibrio_X]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMaximaDesequilibrio_X]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionTotalDesequilibrio_X]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMinimaEnDesequilibrio_Y]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMediaDesequilibrio_Y]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionMaximaDesequilibrio_Y]
GO
ALTER TABLE [dbo].[Evaluaciones] ADD  DEFAULT ((0)) FOR [DuracionTotalDesequilibrio_Y]
GO
ALTER TABLE [dbo].[LecturasConFiltro] ADD  DEFAULT ((0)) FOR [DesequilibrioVel]
GO
ALTER TABLE [dbo].[LecturasConFiltro] ADD  DEFAULT ((0)) FOR [DesequilibrioVel_X]
GO
ALTER TABLE [dbo].[LecturasConFiltro] ADD  DEFAULT ((0)) FOR [DesequilibrioVel_Y]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [NumeroPruebas]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_UsuarioActivo]  DEFAULT ((1)) FOR [UsuarioActivo]
GO
ALTER TABLE [dbo].[Evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_Evaluaciones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Evaluaciones] CHECK CONSTRAINT [FK_Evaluaciones_Usuarios]
GO
ALTER TABLE [dbo].[LecturasBalanceBoard]  WITH NOCHECK ADD  CONSTRAINT [FK_LecturasBalanceBoard_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[LecturasBalanceBoard] CHECK CONSTRAINT [FK_LecturasBalanceBoard_Usuarios]
GO
ALTER TABLE [dbo].[LecturasConFiltro]  WITH CHECK ADD  CONSTRAINT [FK_LecturasConFiltro_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[LecturasConFiltro] CHECK CONSTRAINT [FK_LecturasConFiltro_Usuarios]
GO
ALTER TABLE [dbo].[LecturasConMediaMovil]  WITH CHECK ADD  CONSTRAINT [FK_LecturasConMediaMovil_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[LecturasConMediaMovil] CHECK CONSTRAINT [FK_LecturasConMediaMovil_Usuarios]
GO
ALTER TABLE [dbo].[LecturasInterpoladas]  WITH CHECK ADD  CONSTRAINT [FK_LecturasInterpoladas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[LecturasInterpoladas] CHECK CONSTRAINT [FK_LecturasInterpoladas_Usuarios]
GO
USE [master]
GO
